<?xml version="1.0"?> 

<launch> 

    <arg name="robot" default="$(find puzzlebot_sim)/urdf/robot.urdf"/> 

    <param name="robot_description" command="cat $(arg robot)" /> 

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" /> 
    
    <node  pkg="puzzlebot_sim" type="sim_robot.py" name="sim_robot" /> 

    <node  pkg="puzzlebot_sim" type="localisation.py" name="localisation" /> 

    <node  pkg="puzzlebot_sim" type="transform.py" name="transform" /> 

    <node  pkg="puzzlebot_sim" type="joint_state.py" name="joint_state" /> 

    <node  pkg="rviz" type="rviz" name="rviz" required="true" /> 

    
</launch> 