<?xml version="1.0"?> 

<launch> 

    <arg name="robot" default="$(find puzzlebot_sim)/urdf/robot.urdf"/> 

    <param name="robot_description" command="cat $(arg robot)" /> 

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" > 

    </node> 


    <!--Add the joint_state_publisher--> 

    <node pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" name="joint_state_publisher_gui" > 

    </node> 

    <node  pkg="puzzlebot_sim" type="localisation.py" name="localisation"> 

    </node> 

    <node  pkg="puzzlebot_sim" type="transform.py" name="transform"> 

    </node> 

    <node  pkg="rviz" type="rviz" name="rviz" required="true" /> 

</launch> 